body {
    background-color: rgb (241, 241, 241);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

.container {
    max-width: 1024px;
    margin: 0px auto;
    background-color: #f8f8f8;
    padding: 40px;
}

p {
    line-height: 1.6;
}

p {
    text-indent: 40px;
}

button {
    all:unset
}